/* Large desktop */
@media (min-width: 1200px) {
	body {
        padding-top: 70px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
        padding-top: 0px;
    }
	header h2 {
    	font-size: 20px;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
        padding-top: 0;
    }
    header h2 {
    	font-size: 15px;
    }
}

body {
	background-color: #C0392B;
    font-family: 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.231;
    color: #ECF0F1;
}
header {
	margin-bottom: 50px;
}
#container-wrapper {
	background-color: #27AE60;
	padding: 10px;
}
#content-wrapper {
	margin-top: 20px;
}
header h2 {
	color: #34495E;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: 800;
}
footer {
	margin-top: 20px;
	text-align: right;
	font-weight: bold;
	color: #ECF0F1
}
ul.parsley-error-list {
	list-style: none;
	padding: 0;
	color: red;
}
.alert, .btn, .modal-content {
	border-radius: 0;
}
select, input[type="text"], input[type="email"] {
	background-color: #EAEDF2;
	border-radius: 0 0 0 0 !important;
}
.flat {
	background-color: #FFFFFF;
    color: #333333;
    min-height: 200px;
    padding: 5px;
    margin-bottom: 5px;
}
table {
	font-size: 13px;
}
a {
	cursor: pointer;
}
a:hover, footer a:hover {
	text-decoration: none;
}
footer a {
	color: #FFFFFF;
}
footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.modal-title {
	color: #999999;
    font-size: 20px;
    font-weight: 800;
}
.notfound {
	color: #8E44AD;
    font-weight: bold;
}

#placeholder-groups, #placeholder-contacts {
	max-height: 500px;
	overflow: auto;
}