.modal-content {
    background: white;
    padding: 20px;
}

#placeholder-groups, #placeholder-contacts {
    max-height: 500px;
    overflow: auto;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
}

ul.parsley-errors-list {
    color: red;
}

.footer {
    padding: 10px;
}
